body{
    background-repeat:no-repeat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    color:black;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.form{
    margin:200px 100px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    text-align: center;
    display:block;
}

div.taskField{
    margin:6px 2px;
    padding:5px;
}

div.taskField>input{
    border: 2px solid;
    border-radius:3px;
    margin-left: 10px;
    width:400px;
    background:rgba(255, 255, 255, 0.363);
}

div.taskField>input:hover{
    border:blue 3px solid;
    border-radius:3px;
}

div.submitField>input{
    border:blue 2px solid;
    border-radius:3px;
    padding:5px 20px;
    background:transparent;
}

div.submitField>input:hover{
    border:rgb(103, 103, 245) 3px solid;
    background:rgb(59, 59, 250);
    color:white;
}

div.para>ul li{
    text-align:center;
    border-bottom:1px solid black;
    padding:8px;
    margin:5px 8px;
    list-style:none;
    height:25px;
}

div.para>ul>li span{
    color:green;
    padding:30px;
}

div.para>ul>li button:nth-child(2) {
    border:2px red solid;
    border-radius:3px;
    background:transparent;
    margin:2px 5px;
}


div.para>ul>li button:nth-child(2):hover {
    border:red 3px solid;
    color:white;
    background:rgb(245, 71, 71);
    border-radius:3px;
}

div.para>ul>li button:nth-child(3) {
    border:2px green solid;
    border-radius:3px;
    background:transparent;
    margin:2px 5px;
}

div.para>ul>li button:nth-child(3):hover {
    border:green 3px solid;
    color:white;
    background:rgb(16, 199, 16);
    border-radius:3px;
}